################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Medchois/FileContentIndex
/UserManagementServices/bin/Debug/net7.0
