################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Medchois/FileContentIndex
/UserManagementServices/bin/Debug/net7.0
/AdminManagementServices/obj
/.vs/Medchois/v17
/AppointmentManagementServices/obj
/DoctorManagementServices/obj
/PatientManagementServices/obj
/.vs/Medchois/DesignTimeBuild
